<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>FAQ</title>
<link rel="styleSheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	<ul th:replace="page-layout :: userNavBar"></ul>
	
	<div class="container">
		<h3>FAQ</h3>
		
		<p>Information for Enhanced License customers for journals, online books, reference works, Current Protocols and databases.</p>
		
		<h4>North, Central and South America</h4>
		<p>Telephone: 1 201 748-5715<br>
E-mail:  onlinelibrarysales@wiley.com</p>
		
		<h4>How can I reserve a book?</h4>
		<p>Search for the book via your personal library account on our website and click the "Reserve book" button. A reservations is valid for 7 days and costs $1,- per book. 
		If the book is not picked-up after 7 days, the reservation will automatically be canceled.</p>		
		
		<h4>What happens if I can't return a book on time?</h4>
		A fine of $0,20 per book is charged per day. When keeping a book in your possession that should have been returned, reservations
		cannot be made and new orders cannot be picked up.  
		
		<h4>What happens if I lose a book?</h4>
		<p>Please contact our customer service as soon as possible. The library will charge a small price for the book, depending
		on its value.</p> 
	</div>
	
</body>
</html>

